/* @font-face {
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  font-weight: 400;
  src: url('assets/MaterialSymbolsRounded.woff2') format('woff2');
}

.material-symbols-rounded {
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
} */

* {
  font-family:
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji;
  color: var(--md-onSurface);
  scrollbar-width: thin;
  scrollbar-color: var(--md-primary) transparent;
}
/* html,
body, */
#app {
  margin: 0px;
  padding: 0px;
  /* width: 800px;
  height: 600px; */
  display: flex;
}

/* Daisy UIのテーマ拡張 */
.tab {
  color: var(--md-primary);
  &:checked {
    border-color: var(--md-primary);
  }
}
.tab-active {
  border-color: var(--md-primary);
}
.btn-square,
.btn-circle {
  background-color: transparent;
  border: none;
  color: var(--md-onSurface);
  &:hover {
    background-color: var(--md-surfaceVariant);
  }
  &.selected {
    background-color: var(--md-secondaryContainer);
    color: var(--md-onSecondaryContainer);
  }
}
/* .modal-box {
  border-radius: 1.5rem;
} */
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}
.kbd {
  background-color: var(--md-surfaceContainer);
  color: var(--md-onSurface);
  border-color: var(--md-surfaceVariant);
}
.tooltip {
  --tooltip-color: var(--md-inverseSurface);
  --tooltip-text-color: var(--md-inverseOnSurface);
}
.input {
  border-color: var(--md-outlineVariant);
  input {
    &::placeholder {
      color: var(--md-outlineVariant);
    }
  }
}
